.costcf7caloc_slider_div .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
.costcf7caloc_slider_div.ui-slider-horizontal .ui-slider-handle {
    top: -11px;
}
.costcf7caloc_slider_div.ui-slider-horizontal {
    height: 10px;
}
div#costcf7caloc_slider_div {
    margin: 60px 0px;
}
#costcf7caloc_slider_div :focus {
    outline: none;
}
#ctooltip{
    position: absolute;
    width: auto;
    background-color: #00000085;
    color: #fff;
    text-align: center;
    padding: 2px 5px;
    border-radius: 6px;
    z-index: 1;
    opacity: 1;
    transition: opacity .6s;
    font-size: 15px;
    font-weight: bold;
}
.costcf7left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #00000085;
}
.costcf7right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #00000085 transparent transparent;
}
.costcf7top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 30%;
    border-width: 5px;
    border-style: solid;
    border-color: #00000085 transparent transparent transparent;
}
.costcf7bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 30%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #00000085 transparent;
}